* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}




body {
    margin: 0;


}

#header-nav {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

header {
    background: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    width: fit-content;
    padding: 15px;
    float: left;

}

nav {
    float: right;
    background: #ffffff;
    padding-top: 25px;
    
}

a:link {
    text-decoration: none;
}

a:hover { 
    color: #80d6b6;
}


section {
    background-image: url(../images/prism/prism.png);
    padding: 40px;
    border-top: solid #666666 2px;
}

article {
    width: 960px;
    
    margin-right: auto;
    
    
    margin-left: auto;
    background: #ffffff;
    padding: 20px;
    border: solid #dddddd 2px;
    
    overflow: hidden;
    
}


h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

#me-image {
    float: left;
    margin: 10px 15px 10px 0;
    
}




footer {
    clear: both;
    background: #666666;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: solid #4aaaa5 8px;
}



.image-container {
    position: relative;

    float: left;
    
 }
  
.text-block {
    position: absolute;
    bottom: 50px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.text-block:hover { 
    background: #80d6b6; 
}





.por-image {
    
    margin: 10px 20px 10px 0;
}


input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    color: #ffffff;
    background: #4aaaa5;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

button:hover { 
    background: #80d6b6;
}





/* Vertical scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666666; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4aaaa5;
  }